.allHeadquarters__container {
    height: calc(100vh - 80px);
}

.allHeadquarters__input {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    border: #ACACAC solid 1px;
    border-radius: 6px;
    height: 34px;
    width: 30vw;
    max-width: 300px;
}

.allHeadquarters__addButton {
    width: 133px;
    height: 32px;
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    /*line-height: 20px;*/
}

.allHeadquarters__tableHead {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.allHeadquarters__tableBody th {
    font-weight: 400;
}

.allHeadquarters__tableBody {
    font-size: 14px;
    line-height: 20px;
}

.allHeadquarters__tableName {
    min-width: 150px
}

.allHeadquarters__tablePeopleCount {
    max-width: 110px;
}

.allHeadquarters__tableAddress {
    min-width: 270px;
}

.allHeadquarters__tablePhone {
    min-width: 180px;
}

.allHeadquarters__filterButton, .allHeadquarters__highlightButton {
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
    border-radius: 6px;
    height: 34px;
    font-size: 16px;
    font-weight: 600;
}

.allHeadquarters__filtersTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 20.28px;
    text-align: center;
}

.regionalTeam__miniTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.82px;
}

.regionalTeam__checkbox {
    height: 18px;
    width: 18px;
    border-radius: 4px;
}

.regionalTeam__filterBottomButton {
    width: 140px;
    height: 32px;
    /*padding: 6px 12px 6px 12px;*/
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .allHeadquarters__input {
        width: 100%;
        max-width: none;
    }

    .allHeadquarters__addButton {
        width: 50px;
    }
}
