.navbar__container {
    /*background-color: #0C428C;*/
    height: 80px;
}

.navbar__content {
    width: 1000px;
    padding: 0 20px;
}

.navbar__city {
    color: #FB857F
}

.navbar__modal {
    right: 0;
    top: 55px;
    background-color: white;
    height: 264px;
    width: 340px;
    padding: 30px;
}

.navbar_modalLine {
    border: solid 0.5px rgba(214, 214, 214, 1);
    border-radius: 1px;
}

.navbar__nameIcon {
    background-color: rgba(59, 100, 179, 1);
    color: white;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    width: 35px;
}

/*.navbar__miniModal {*/
/*    display: none;*/
/*}*/

@media (max-width: 767px) {
    .navbar__modal {
        height: 100vh;
        width: 100%;
        top: 0;
        background-color: rgb(27, 60, 108);
        color: white;
    }

    .navbar__modalLine {
        border: solid 0.5px rgba(79, 108, 136, 1);
    }

    /*.navbar__miniModal {*/
    /*    height: 100%;*/
    /*    width: 100%;*/
    /*}*/
}


