.profile__container {
    height: calc(100vh - 80px);
    /*background-color: #F6F8FC;*/
}

.myHeadquarters__bigTitle {
    font-size: 26px;
    font-weight: 600;
}

.profile__title {
    font-size: 22px;
    font-weight: 600;
}

.profile__data {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

@media (max-width: 767px) {
    .myHeadquarters__bigTitle {
        font-size: 20px;
    }

    .profile__title {
        font-size: 18px;
    }

    .profile__data {
        font-size: 16px;
    }
}
